/* Baseline & Utilities */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
}

#page {
  min-height: 100vh;
  min-width: 1000px;
  font-family: 'Arial', sans-serif;
}

/* Navigation */
#navbar {
  position: relative;
  padding-top: 1.1rem;
  margin-left: 150px;
}

.nav-container {
  border-bottom: 1px solid rgb(235, 235, 235);
}

.logo {
  position: absolute;
  width: 100px;
  top: 20px;
  left: -130px;
}

.navbar-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box {
  position: relative;
  width: 675px;
}

#search {
  display: block;
  width: 95%;
  height: 44px;
  border-radius: 24px;
  font-size: 17px;
  font-family: inherit;
  line-height: 34px;
  border-color: rgba(0, 0, 0, 0.87);
  color: rgba(0, 0, 0, 0.87);
  outline: 0;
  border: 1px solid #dfe1e5;
  padding: 1.15rem;
}

#search:hover,
#search:focus,
#search:active {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.hourglass {
  color: rgb(66, 133, 244);
  font-size: 17px;
  position: absolute;
  top: 13px;
  right: 55px;
}

.navbar-right {
  display: flex;
}

.navbar-right-item {
  display: inline-block;
  padding-right: 1.5rem;
}

.btn-login {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: rgb(66, 133, 244);
  border-radius: 5%;
  padding: 0.5rem 0.75rem;
}

.btn-login:hover {
  text-decoration: none;
}

.navbar-tabs {
  width: 675px;
  display: flex;
  margin-top: 0.5rem;
}

.tab-item {
  display: block;
  padding: 1rem;
  font-size: 13px;
  color: rgb(95, 99, 104);
}

.tab-item:hover {
  color: rgb(66, 133, 244);
  cursor: pointer;
}

.current-tab {
  color: rgb(66, 133, 244);
  border-bottom: 3px solid rgb(66, 133, 244);
}

#settings-tab {
  margin-left: 4rem;
}

/* Results Section */
.results-container {
  width: 675px;
  margin-left: 150px;
}

.total-results {
  padding: 1rem;
  padding-bottom: 0;
  color: rgb(112, 117, 122);
  font-size: 14px;
}

.result-card {
  padding: 1rem 1rem;
  width: 95%;
}

.card-title {
  display: block;
  font-size: 20px;
  line-height: 26px;
  color: rgb(26, 13, 171);
  cursor: pointer;
}

.card-title:hover {
  text-decoration: underline;
}

.card-link {
  color: rgb(0, 102, 33);
  font-size: 16px;
  line-height: 24px;
}

.card-text {
  color: rgb(84, 84, 84);
  font-size: 14px;
  line-height: 22px;
}

.accordion-list {
  border: 1px solid rgb(229, 229, 229);
  border-radius: 7px;
  width: 95%;
  margin: 1rem 0;
  color: rgb(34, 34, 34);
}

.list-title {
  padding: 0.5rem 1rem;
  font-size: 20px;
}

.list-item {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(229, 229, 229);
  cursor: pointer;
}

.down-arrow {
  height: 24px;
  width: 24px;
  fill: rgb(112, 117, 122);
}

/* Videos */
.video-container {
  /* border: 1px solid red; */
  padding: 1rem 0;
}

.video-heading {
  font-size: 20px;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.video-card {
  border: 1px solid rgb(223, 225, 229);
  border-radius: 8px;
  width: 205px;
  display: flex;
  flex-direction: column;
}

.video-thumbnail {
  display: block;
  width: 100%;
  border-radius: 8px 8px 0px 0px;
  cursor: pointer;
}

.video-title {
  display: block;
  padding: 1rem;
  color: rgb(26, 13, 171);
}

.video-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.channel-name {
  font-size: 14px;
  color: rgb(128, 128, 128);
  padding-left: 1rem;
  padding-bottom: 0.5rem;
}

.video-footer {
  margin-top: auto;
}

.date {
  font-size: 12px;
  padding-left: 1rem;
  padding-bottom: 1rem;
  color: rgb(128, 128, 128);
}

.date span {
  color: rgb(0, 102, 33);
}

.related-heading {
  font-size: 20px;
  padding: 1.5rem 0;
}

.related-search-list {
  padding-left: 1rem;
}

.related-search-list a {
  display: inline-block;
  color: rgb(26, 13, 171);
  cursor: pointer;
  font-size: 14px;
  padding-bottom: 0.75rem;
}

.related-search-list a:hover {
  text-decoration: underline;
}

/* Footer */
#footer {
  border-top: 1px solid rgb(228, 228, 228);
  background-color: rgb(242, 242, 242);
  font-size: 14px;
}

.footer-container {
  margin-left: 150px;
  width: 675px;
  padding: 1rem 0;
}

.footer-text {
  color: rgb(95, 99, 104);

  padding-bottom: 1rem;
}

.footer-text strong {
  color: rgb(51, 51, 51);
}

.footer-links {
  display: flex;
  color: rgb(95, 99, 104);
}

.footer-links a {
  display: inline-block;
  padding-right: 1.5rem;
}

.footer-links a:hover {
  color: #333;
}
