/* Baseline & Utilities */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
}

#page {
  min-height: 100vh;
  min-width: 1000px;
  font-family: 'Arial', sans-serif;
}

#nav-wrapper {
  /* margin-left: 150px; */
  border-bottom: 1px solid rgb(235, 235, 235);
}

/* Navigation */
#navbar {
  position: relative;
  padding-top: 1.1rem;
  margin-left: 150px;
}

.logo {
  position: absolute;
  width: 100px;
  top: 20px;
  left: -130px;
}

.navbar-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box {
  position: relative;
  width: 675px;
}

#search {
  display: block;
  width: 90%;
  height: 44px;
  border-radius: 24px;
  font-size: 17px;
  line-height: 34px;
  border-color: rgba(0, 0, 0, 0.87);
  color: rgba(0, 0, 0, 0.87);
  outline: 0;
  border: 1px solid #dfe1e5;
  padding: 1rem;
}

#search:hover,
#search:focus,
#search:active {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.hourglass {
  color: rgb(66, 133, 244);
  font-size: 17px;
  position: absolute;
  top: 13px;
  right: 85px;
}

.navbar-right {
  display: flex;
}

.navbar-right-item {
  display: inline-block;
  padding-right: 1.5rem;
}

.btn-login {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: rgb(66, 133, 244);
  border-radius: 5%;
  padding: 0.5rem 0.75rem;
}

.btn-login:hover {
  text-decoration: none;
}

.navbar-tabs {
  width: 675px;
  display: flex;
  margin-top: 0.5rem;
}

.tab-item {
  display: block;
  padding: 1rem;
  font-size: 13px;
  color: rgb(95, 99, 104);
}

.tab-item:hover {
  color: rgb(66, 133, 244);
  cursor: pointer;
}

.current-tab {
  color: rgb(66, 133, 244);
  border-bottom: 3px solid rgb(66, 133, 244);
}

#settings-tab {
  margin-left: 4rem;
}

/* Results Section */
.results-container {
  width: 675px;
  margin-left: 150px;
}

.total-results {
  padding: 0 1rem;
  color: rgb(112, 117, 122);
  font-size: 14px;
  line-height: 43px;
}

.result-card {
  /* border: 1px solid red; */
  padding: 0.5rem 1rem;
  width: 90%;
}

.card-title {
  display: block;
  font-size: 20px;
  line-height: 26px;
  color: rgb(26, 13, 171);
  cursor: pointer;
}

.card-title:hover {
  text-decoration: underline;
}

.card-link {
  color: rgb(0, 102, 33);
  font-size: 16px;
  line-height: 24px;
}

.card-text {
  color: rgb(84, 84, 84);
  font-size: 14px;
  line-height: 22px;
}

.accordion-list {
  border: 1px solid rgb(229, 229, 229);
  border-radius: 7px;
  width: 90%;
  margin: 1rem 0;
}

.list-title {
  padding: 0.5rem 1rem;
  font-size: 20px;
}

.list-item {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(229, 229, 229);
  cursor: pointer;
}

.down-arrow {
  height: 24px;
  width: 24px;
}
